body {
    background: rgba(0, 0, 0, .30) url('../images/skyBackground.jpg');
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: darken;
}

#input {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#output {
    opacity: 0;
}

#forecastForCity {
    opacity: 0;
}

#backButton {
    opacity: 0;
}

#img {
    width: 10%;
}

.selectedDate {
    line-height: 50px;
    /* background-color: rgba(128, 128, 128, 0.178); */
}

#dataTableWithDates {
    cursor: pointer;
}

#backButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.27), 0 17px 50px 0 rgba(0, 0, 0, 0.22);
}