body {
    background: rgba(0, 0, 0, .30) url('../images/skyBackground.jpg');
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: darken;
}

#input {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#output {
    opacity: 0;
}

#forecastForCity {
    opacity: 0;
}

#img {
    width: 10%;
}

.selectedDate {
    line-height: 50px;
    /* background-color: rgba(128, 128, 128, 0.178); */
}

td {
    cursor: pointer;
}